<html>
<body>

    <div class="box">
        <h4><a href="#">connectez-vous</a></h4>
    </div>
      
    <div class="conter">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label >Identifiant</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label >Mot de passe</label>
            </div>
            <div class="pass">Mot de passe oublié?</div>
            <input type="submit" value="connecter">
            <div class="signup_link">
                Nouvel utiltisateur? 
                <a href="#">s'inscrire</a>
            </div>
        </form>
        
    </div>
    
</body>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <h5>
        © 2020 Copyright: GUCE- MAI2012 -Tout droits réservés - Version 1.0 beta
    </h5>
    <!-- Copyright -->
</footer>
<div class="sidebar">
    <div class="box">
        <h4>langue</h4>
    </div>
    <select >
        <option value="fr">Français</option>
        <option value="ar">Arabe</option>
        <option value="en">Anglais</option>
      </select>
      
</div>

</html>